<section class="about-us container">
  <div class="about-us-text-content">
    <h2 class="about-us-title">About us</h2>
    <h3 class="about-us-subtitle">
      Our craftsmanship: creating unique handmade furniture
    </h3>
    <p class="about-us-description">
      Discover the inspiration behind our modern and minimalist designs, and see
      how we bring them to life through our skilled craftsmanship.
    </p>
    <ul class="about-us-advantages-list">
      <li class="about-us-advantages-item">
        <div class="about-us-statistic">
          <p class="about-us-statistic-number">5+</p>
          <p class="about-us-statistic-text">
            Years of experience creating handcrafted furniture
          </p>
        </div>
      </li>
      <li class="about-us-advantages-item">
        <div class="about-us-statistic">
          <p class="about-us-statistic-number">100%</p>
          <p class="about-us-statistic-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </div>
      </li>
      <li class="about-us-advantages-item">
        <div class="about-us-statistic">
          <p class="about-us-statistic-number">500+</p>
          <p class="about-us-statistic-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </div>
      </li>
    </ul>
  </div>
  <img
    class="about-us-img-mob"
    srcset="
      ../img/aboutus/about-us-img-mob.jpg    1x,
      ../img/aboutus/about-us-img-mob-2x.jpg 2x
    "
    src="../img/aboutus/about-us-img-mob.jpg"
    alt="Light gray sofa with pillows and a vase on the side"
  />
  <img
    class="about-us-img-tab"
    srcset="
      ../img/aboutus/about-us-img-tab.jpg    1x,
      ../img/aboutus/about-us-img-tab-2x.jpg 2x
    "
    src="../img/aboutus/about-us-img-tab.jpg"
    alt="Light gray sofa with pillows and a vase on the side"
  />
  <img
    class="about-us-img-desktop"
    srcset="
      ../img/aboutus/about-us-img-desktop.jpg    1x,
      ../img/aboutus/about-us-img-desktop-2x.jpg 2x
    "
    src="../img/aboutus/about-us-img-desktop.jpg"
    alt="Light gray sofa with pillows and a vase on the side"
  />
</section>
