<section class="sectoin-best">
  <div class="best-container container">
    <h2 class="best-title">bestsellers</h2>
    <ul class="section-best-list">
      <li class="best-list">
        <img
          srcset="../img/bestsellers/platformbedmob-2x.jpg 2x"
          class="section-img img"
          src="../img/bestsellers/platformbedmob-1x.jpg"
          alt="modern bed"
        />
        <h3 class="section-best-text">The modern platform bed</h3>
        <span class="products-coast">750$</span>
      </li>
      <li class="best-list">
        <img
          srcset="../img/bestsellers/loungechairmob-2x.jpg 2x"
          class="section-img img"
          src="../img/bestsellers/loungechairmob-1x.jpg"
          alt="lounge chair"
        />
        <h3 class="section-best-text">The Cozy Lounge Chair</h3>
        <span class="products-coast">230$</span>
      </li>
      <li class="best-list">
        <img
          srcset="../img/bestsellers/accentchairmob-2x.jpg 2x"
          class="section-img img"
          src="../img/bestsellers/accentchairmob-1x.jpg"
          alt="accent chair"
        />
        <h3 class="section-best-text">The indastrial accent chair</h3>
        <span class="products-coast">250$</span>
      </li>
      <li class="best-list">
        <img
          srcset="../img/bestsellers/sleekstandtab-2x.jpg 2x"
          class="section-img img"
          src="../img/bestsellers/sleekstandtab-1x.jpg"
          alt="accent chair"
        />
        <h3 class="section-best-text">The sleek stand</h3>
        <span class="products-coast">300$</span>
      </li>
      <li class="best-list">
        <img
          srcset="../img/bestsellers/minimalsofatab-2x.jpg 2x"
          class="section-img img"
          src="../img/bestsellers/minimalsofatab-1x.jpg"
          alt="accent chair"
        />
        <h3 class="section-best-text">The minimalist sofa</h3>
        <span class="products-coast">650$</span>
      </li>
    </ul>
  </div>
</section>
