<section class="sectoin-best">
  <div class="best-container container">
    <h2 class="best-title">bestsellers</h2>
    <ul class="section-best-list">
      <li class="best-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/platformbeddesk-1x.jpg 1x,
              ../img/bestsellers/platformbeddesk-2x.jpg 2x
            "
            media="(max-width: 1094px)"
          />
          <source
            srcset="
              ../img/bestsellers/platformbedtab-1x.jpg 1x,
              ../img/bestsellers/platformbedtab-2x.jpg 2x
            "
            media="(max-width: 704px)"
          />
          <source
            srcset="
              ../img/bestsellers/platformbedmob-1x.jpg 1x,
              ../img/bestsellers/platformbedmob-2x.jpg 2x
            "
            media="(max-width: 343px)"
          />
          <img
            class="section-img img"
            src="../img/bestsellers/platformbedmob-1x.jpg"
            alt="modern bed"
          />
        </picture>
        <h3 class="section-best-text">The modern platform bed</h3>
        <span class="products-coast">750$</span>
      </li>
      <li class="best-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/loungechairdesk-1x.jpg 1x,
              ../img/bestsellers/loungechairdesk-2x.jpg 2x
            "
            media="(max-width: 1094px)"
          />
          <source
            srcset="
              ../img/bestsellers/loungechairtab-1x.jpg 1x,
              ../img/bestsellers/loungechairtab-2x.jpg 2x
            "
            media="(max-width: 704px)"
          />
          <source
            srcset="
              ../img/bestsellers/loungechairmob-1x.jpg 1x,
              ../img/bestsellers/loungechairmob-2x.jpg 2x
            "
            media="(max-width: 343px)"
          />
          <img
            class="section-img img"
            src="../img/bestsellers/loungechairmob-1x.jpg"
            alt="lounge chair"
          />
        </picture>
        <h3 class="section-best-text">The Cozy Lounge Chair</h3>
        <span class="products-coast">230$</span>
      </li>
      <li class="best-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/accentchairdesk-1x.jpg 1x,
              ../img/bestsellers/accentchairdesk-2x.jpg 2x
            "
            media="(max-width: 1094px)"
          />
          <source
            srcset="
              ../img/bestsellers/accentchairtab-1x.jpg 1x,
              ../img/bestsellers/accentchairtab-2x.jpg 2x
            "
            media="(max-width: 704px)"
          />
          <source
            srcset="
              ../img/bestsellers/accentchairmob-1x.jpg 1x,
              ../img/bestsellers/accentchairmob-2x.jpg 2x
            "
            media="(max-width: 343px)"
          />
          <img
            class="section-img img"
            src="../img/bestsellers/accentchairmob-1x.jpg"
            alt="accent chair"
          />
        </picture>
        <h3 class="section-best-text">The indastrial accent chair</h3>
        <span class="products-coast">250$</span>
      </li>
      <li class="best-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/sleekstanddesk-1x.jpg 1x,
              ../img/bestsellers/sleekstanddesk-2x.jpg 2x
            "
            media="(max-width: 1094px)"
          />
          <source
            srcset="
              ../img/bestsellers/sleekstandtab-1x.jpg 1x,
              ../img/bestsellers/sleekstandtab-2x.jpg 2x
            "
            media="(max-width: 704px)"
          />
          <source
            srcset="
              ../img/bestsellers/sleekstandtab-1x.jpg 1x,
              ../img/bestsellers/sleekstandtab-2x.jpg 2x
            "
            media="(max-width: 343px)"
          />
          <img
            class="section-img img"
            src="../img/bestsellers/sleekstandtab-1x.jpg"
            alt="accent chair"
          />
        </picture>
        <h3 class="section-best-text">The sleek stand</h3>
        <span class="products-coast">300$</span>
      </li>
      <li class="best-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/minimalsofadesk-1x.jpg 1x,
              ../img/bestsellers/minimalsofadesk-2x.jpg 2x
            "
            media="(max-width: 1094px)"
          />
          <source
            srcset="
              ../img/bestsellers/minimalsofatab-1x.jpg 1x,
              ../img/bestsellers/minimalsofatab-2x.jpg 2x
            "
            media="(max-width: 704px)"
          />
          <source
            srcset="
              ../img/bestsellers/minimalsofatab-1x.jpg 1x,
              ../img/bestsellers/minimalsofatab-2x.jpg 2x
            "
            media="(max-width: 343px)"
          />
          <img
            class="section-img img"
            src="../img/bestsellers/minimalsofatab-1x.jpg"
            alt="accent chair"
          />
        </picture>
        <h3 class="section-best-text">The minimalist sofa</h3>
        <span class="products-coast">650$</span>
      </li>
    </ul>
  </div>
</section>
