<section class="products">
  <div class="container">
    <h2 class="products-main">OUR PRODUCTS</h2>
    <ul class="products-list list">
      <li class="products-item">
        <picture>
          <source
            srcset="./img/our-shelf-mob.jpg 1x, ./img/our-shelf-mob@2x.jpg 2x"
            media="(min-width:375px)"
          />
          <source
            srcset="./img/our-shelf-tab.jpg 1x, ./img/our-shelf-tab@2x.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./img/our-shelf-desk.jpg 1x, ./img/our-shelf-desk@2x.jpg 2x"
            media="(min-width:1352px)"
          />
          <img
            class="products-furniture"
            src="./img/our-shelf-desk.jpg"
            alt="shelf"
            width="344"
          />
        </picture>
        <h3 class="products-text">Minimalist storage solutions</h3>
      </li>
      <li class="products-item">
        <picture>
          <!-- <source
            srcset="./img/our-sofa-mob.jpg 1x, ./img/our-sofa-mob@2x.jpg 2x"
            media="(min-width:375px)"
          /> -->
          <source
            srcset="./img/our-sofa-tab.jpg 1x, ./img/our-sofa-tab@2x.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./img/our-sofa-desk.jpg 1x, ./img/our-sofa-desk@2x.jpg 2x"
            media="(min-width:1352px)"
          />
          <img
            class="products-furniture"
            src="./img/our-sofa-desk.jpg"
            alt="sofa"
            width="344"
          />
        </picture>
        <h3 class="products-text">Handcrafted minimalist seating</h3>
      </li>
      <li class="products-item">
        <picture>
          <!-- <source
            srcset="./img/our-table-mob.jpg 1x, ./img/our-table-mob@2x.jpg 2x"
            media="(min-width:375px)"
          /> -->
          <!-- <source
            srcset="./img/our-table-tab.jpg 1x, ./img/our-table-tab@2x.jpg 2x"
            media="(min-width:768px)"
          /> -->
          <source
            srcset="./img/our-table-desk.jpg 1x, ./img/our-table-desk@2x.jpg 2x"
            media="(min-width:1352px)"
          />
          <img
            class="products-furniture"
            src="./img/our-table-desk.jpg"
            alt="table"
            width="312"
          />
        </picture>
        <h3 class="products-text">Sleek and simple tables</h3>
      </li>
      <li class="products-item">
        <picture>
          <!-- <source
            srcset="./img/our-chair-mob.jpg 1x, ./img/our-chair-mob@2x.jpg 2x"
            media="(min-width:320px)"
          /> -->
          <!-- <source
            srcset="./img/our-chair-tab.jpg 1x, ./img/our-chair-tab@2x.jpg 2x"
            media="(min-width:768px)"
          /> -->
          <source
            srcset="./img/our-chair-desk.jpg 1x, ./img/our-chair-desk@2x.jpg 2x"
            media="(min-width:1352px)"
          />
          <img
            class="products-furniture"
            src="./img/our-chair-desk.jpg"
            alt="chair"
            width="312"
          />
        </picture>
        <h3 class="products-text">Minimalist seating for every space</h3>
      </li>
    </ul>
  </div>
</section>
