<section class="price container">
  <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
  <ul>
    <li class="price-list-item">
      <div class="price-list-line">
        <div class="hover-effect"><p class="price-list-art">Chairs</p></div>
        <p class="price-list-amount">from 200$</p>
      </div>
    </li>
    <li class="price-list-item">
      <div class="price-list-line">
        <div class="hover-effect"><p class="price-list-art">Tables</p></div>
        <p class="price-list-amount">from 250$</p>
      </div>
    </li>
    <li class="price-list-item">
      <div class="price-list-line">
        <div class="hover-effect"><p class="price-list-art">Dressers</p></div>
        <p class="price-list-amount">from 300$</p>
      </div>
    </li>
    <li class="price-list-item">
      <div class="price-list-line">
        <div class="hover-effect"><p class="price-list-art">Sofas</p></div>
        <p class="price-list-amount">from 500$</p>
      </div>
    </li>
  </ul>
</section>
