/*---STYLES----*/
.clients-reviews  { 
    padding-top: 64px;
    padding-bottom: 64px;
    background: var(--light-blue, #F7FAFF);

    }
    
    .clients-reviews-title{  
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 30px;
    }
    
    .clients-reviews-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-bottom: 36px;
    }
    
    .clients-reviews-list-item {
    width: 100%;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;

    }    

    .clients-reviews-list-item:not(:nth-child(-n + 1)) {
        display: none;
      }
      
    
    .clients-reviews-block {
    display: flex;
    align-items: center;
    }
    .clients-reviews-block-block {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    }
    
    .clients-reviews-item{ 
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    }
    
    .clients-reviews-item-time {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    Opacity: 0.8;
    }
    
    .clients-reviews-item-text  {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;
    }
    
    /*------MEDIA-----*/
    @media screen and (min-width: 375px)  {
    .container {
    max-width: 375px;
    }
    }

    
    @media screen and (min-width: 768px){
    .container {
    max-width: 584px;
    }
    
    .clients-reviews  { 
    padding-top: 100px;
    padding-bottom: 96px;
    }
    
    .clients-reviews-title{
    font-size: 32px;
    line-height: 45px;
    }
    
    .clients-reviews-list {
    column-gap: 16px;
    }
    
    .clients-reviews-list-item  {  
    width: calc((100% - 16px)/2);
    }

    .clients-reviews-list-item:not(:nth-child(-n + 1)) {
    display: block;
    }
    
    .clients-reviews-list-item:not(:nth-child(-n + 2)) {
    display: none;
    }
     
    .clients-reviews-item{
    font-size: 20px;
    line-height: 45px;
    }
    
    .clients-reviews-item-time {
    font-size: 16px;
    line-height: 24px;
    }
    
    .clients-reviews-item-text{
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    }
    }
    
    @media screen and (min-width:1440px)  {
    .container {
    max-width: 1440px;
    }  
    
    .clients-reviews  { 
    padding-top: 100px;
    padding-bottom: 100px;
    }
    
    .clients-reviews-list {
    row-gap: 24px;
    margin-bottom: 60px;
    }
    
    .clients-reviews-list-item {   
    width: calc((100% - 20px*2)/3);
    }  
    
    .clients-reviews-list-item:not(:nth-child(-n + 1)) {
    display: block;
    }
    }