/* .hero {
    background-image: url(/img/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px;
    padding-bottom: 313px;
    padding-top: 140px;
   }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: url(/img/hero-mob@2x.jpg);
    }
  }
  
  .hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    line-height: 1.5;
      font-weight: 400;
    max-width: 285px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
  
  .hero-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 28px;
  }
  
  .hero-subscribe {
    color: var(--white, #FFFFFF);
    font-size: 16px;
    font-weight: 400; 
    line-height: 1.5;
    width: 224px;
    height: 48px;
    padding: 12px 65px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0A224A;
    transition: background-color 250ms var(--transition);

  }
  
  .hero-subscribe:hover,
  .hero-subscribe:focus {
    outline: transparent;
    background-color: #061835;

  }
  
/*--------------------------------TAB 768px--------------------------------*/

